p, a {
	font-family: arial, sans-serif;
	font-size: 13px;
}

#header {
	padding: 10px;
	background-color: LightGrey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#header a {
	color: #000000;
	padding-left: 15px;
	text-decoration: none; 
}

#header a:hover {
	text-decoration: underline;
}

#header #right-header {
	color: rgba(0,0,0,0.87);
}
