body {
	margin: 0px 0px 0px 0px; 
}

p, a {
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

#header a {
	color: #000000;
	padding-left: 15px;
}

#header {
	padding: 10px;
	padding-top: 22px;
	display: flex;
	width: 100%;
	min-width: 500px
	flex-direction: row;
	justify-content: space-between;
}

#header span {
	padding-left: 15px;
	padding-right: 15px; 
}

#header #left-header a {
	padding-left: 0px;
	padding-right: 15px; 
	color: rgba(0,0,0,0.70);
}

#header #right-header a:hover {
	color: rgba(0,0,0,0.80);
}

#center {
	margin-top: 89px;
	display: block; 
	text-align: -webkit-center;
	width: auto;
}

/* TODO: fix the app button svg to be a usable and visible button. */

#apps-button {
	display: inline-block;
	outline: none; 
	vertical-align: middle;
	border-radius: 2px;
	box-sizing: border-box; 
	height: 30px; 
	width: 30px;
	background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	-webkit-background-size: 528px 68px;
	background-size: 528px 68px;
	color: #000;
}

#apps-button { 
	background-image: "image/grid_icon.svg";
	background-position-y: 0px;
	background-position-x: 0px;
	color: #000000;
	border: 2px; 
	border-color: #000000;
}


.microphone { 
	max-width: 24px;
}

/* taken from stack overflow */
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}
/* TODO: fix the spacing in google search and I'm Feeling Lucky buttons
 *
 * google search: 127px;
 * I'm Feeling Lucky: 142px;
 */
input[type="submit"] {
    border-radius: 4px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    width: 142px;
    padding: 0 16px;
    height:36px;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
/* end rip from stack overflow */
input[type="submit"]:focus {
    border-color:#4d90fe;
}





.footer {
	background-color: rgb(242, 242, 242);	
       	text-align: left;
       	display: flex; 
	flex-direction: column;
       	margin-top: auto;
       	position: fixed; 
	padding: 0px 0px 0px 0px; 
	bottom: 0; 
	width: 100%; 
	/* Height of the footer*/  
	height: 81px; 
	border-top-color: rgb(228,228,228);
	border-top-width: 1px;
	border-top-style: solid;
}

.footer #country {
	color: rgba(0, 0, 0, 0.54);
	border-bottom-color: rgb(228,228,228);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-left: 30px;
	font-size: 15px;
}	

.footer #subscripts {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	text-align: center;
	height: 40px;
	vertical-align: middle;
	margin-right: 30px;
}

#country-p-tag p {
}

.footer .info {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	text-align: center;
	height: 40px;
	vertical-align: middle;
	margin: 13.5px 0px 13.5px 0px; 
}
.bottom-links {
	color: #5F6368;
	vertical-align: middle;
	padding-left: 30px; 
	font-size: 14px;
}

#search-button {
  width: 100px;
  height: 50px;
}

#search-button svg {
  width: 25px;
  height: 25px;
}
